// product-item
.product-item-sale>span:before{
	content:'';
	margin-left:10px;
	padding-right:10px;
	border-left:3px solid #66CCCC;
}
.product-item-search select{
	float:none;
}
.product-item-pic{
	width:60px;
	height:60px;
	img{
	width:60px;
	height:60px;	
	}
}
.changePrice-input{
	margin:0 20px; 
	border-radius:5px;
}
.changePrice-Modal{
	width:300px;
}