<nav class="navbar navbar-fixed-top navbar-inverse header">
	<div class="container-fluid">
		<!-- logo -->
      	<a class="navbar-brand" href="#">
      		好友store店家版
      	</a>
      	<!-- logo-end -->
      	<!-- siderbtn -->
		<!-- siderbtn-end -->
		<ul class="nav navbar-nav navbar-right">
			<li>
				<button type="button" class="btn btn-default navbar-btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="要开店铺吗">开店</button>
				<button type="button" class="btn btn-danger navbar-btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="要关闭店铺吗" disabled="disabled">已关店</button>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">信息<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">全部信息<span class="badge pull-right">4</span></a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">活动信息</a></li>
					<li><a href="#">系统信息</a></li>
					<li><a href="#">品牌商</a></li>
					<li><a href="">运营</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<img src="../../images/yeoman.png" alt="">*** 您好
					<span class="glyphicon glyphicon-menu-down"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">个人设置</a></li>
					<li><a href="#">店铺设置</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">退出<span class="glyphicon glyphicon-off pull-right"></span></a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
