<div class="comfirm-block">
	<table class="table table-bordered table-striped textCenter">
		<thead>
			<tr>
				<th>订单号</th>
				<th>商品</th>
				<th>下单时间</th>
				<th>买家名称</th>
				<th>金额</th>
				<th>送货时间</th>
				<th>买家备注</th>
				<th>状态</th>
			</tr>
		</thead>
		<tr>
			<td>01319</td>
			<td>
				<ul>
					<li>老坛酸菜*1</li>
					<li>冰红茶*3</li>
					<li>冰绿茶*1</li>
				</ul>
			</td>
			<td>
			2016-08-06 12:00:00
			</td>
			<td>
			用户1
			</td>
			<td>
				<div class="price">15.00元</div>	
			</td>
			<td>
				2016-08-06 12:30:00
			</td>
			<td>
				送货上门
			</td>
			<td>
				<button class="btn btn-danger">待确认</button>
			</td>
		</tr>
	</table>
</div>