<div class="siderbar" id="siderbar">
	<ul class="list">
		<li class="alis">
			<a href="javascript:void(0);" id="siderbtn" class="link">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
				<span class="item-text"></span>显示/隐藏
			</a>
		</li>
		<li class="alis active">
			<a class="link" onselectstart="return false;">
				<span class="glyphicon glyphicon-home"></span>
				<span class="item-text">
					首页
				</span>
			</a>
		</li>	
		<li class="alis">
			<a class="link" onselectstart="return false;">
				<span class="glyphicon glyphicon-tasks"></span>
				<span class="item-text">
				订单处理
				</span>
			</a>	
		</li>
		<li class="alis">
			<a class="link" onselectstart="return false;">
				<span class="glyphicon glyphicon-yen"></span>
				<span class="item-text">
				账户余额
				</span>
			</a>	
		</li>
		<li class="alis lis">
			<a class="link" onselectstart="return false;">
				<span class="glyphicon glyphicon-edit"></span>
				<span class="item-text">
				商品管理
				</span>
				<span class="glyphicon glyphicon-menu-right"></span>
			</a>	
			<ul class="submenu" style="display: none;">
				<li><a href="#">Photoshop</a></li>
				<li><a href="#">HTML</a></li>
				<li><a href="#">CSS</a></li>
				<li><a href="#">Maquetacion web</a></li>
			</ul>
		</li>
	</ul>
</div>