<div class="siderbar" id="siderbar">
	<ul class="list">
		<li class="lis">
			<a class="link" onselectstart="return false;">
				<span class="glyphicon glyphicon-home"></span>
				<span class="item-text">
				技能<span class="glyphicon glyphicon-menu-right"></span>
				</span>
			</a>	
			<ul class="submenu">
				<li><a href="#">Photoshop</a></li>
				<li><a href="#">HTML</a></li>
				<li><a href="#">CSS</a></li>
				<li><a href="#">Maquetacion web</a></li>
			</ul>
		</li>
		<li class="lis">
			<a class="link" onselectstart="return false;">
				<span class="glyphicon glyphicon-home"></span>
				<span class="item-text">
				技能<span class="glyphicon glyphicon-menu-right"></span>
				</span>
			</a>	
			<ul class="submenu">
				<li><a href="#">Photoshop</a></li>
				<li><a href="#">HTML</a></li>
				<li><a href="#">CSS</a></li>
				<li><a href="#">Maquetacion web</a></li>
			</ul>
		</li>
	</ul>
</div>