<div class="panel panel-default">
	<div class="panel-heading">
		商品列表
	</div>
	<div class="panel-body">
		<!-- 商品价值及销售金额 -->
		<div class="row">
			<div class="col-sm-12 product-item-sale">
				<span>剩余商品价值<span class="price">¥ 0.00</span></span>
				<span>已实现销售额:<span class="price">¥ 4,656.90</span></span>
			</div>
		</div>
		<!-- 商品价值及销售金额-结束 -->
		<div class="partition-line"><!-- 分割线 --></div>
		<!-- 搜索及分类 -->
		<div class="row product-item-search">
			<form action="" class="form-inline col-sm-12">
				<div class="input-group col-sm-3">
					<input type="text" class="form-control" placeholder="输入商品名称或ID查询...">
				    <span class="input-group-btn">
				      <button class="btn btn-primary" type="button">
						<span class="glyphicon glyphicon-search"></span>
				      </button>
				    </span>
				</div>
				<select name="" id="" class="form-control col-sm-3 col-sm-offset-1">
					<option value="">全部</option>
					<option value="">方便面</option>
				</select>
				<div class="btn-group col-sm-offset-1" role="group" aria-label="...">
					<button type="button" class="btn btn-default active">全部</button>
					<button type="button" class="btn btn-default">已上架</button>
					<button type="button" class="btn btn-default">未上架</button>
					<button type="button" class="btn btn-default">已售罄</button>
				</div>
			</form>		
		</div>
		<!-- 搜索及分类-结束 -->
		<div class="partition-line"><!-- 分割线 --></div>
		<div class="row">
			<div class="col-sm-12">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#allProduct" aria-controls="allProduct" role="tab" data-toggle="tab">全部商品</a></li>
					<li role="presentation"><a href="#activityProduct" aria-controls="activityProduct" role="tab" data-toggle="tab">活动商品</a></li>
				</ul>


				<div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="comfirm">
				    </div>
				</div>
			</div>
			
		</div>
	
	</div>
</div>