<div class="row personSetting">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
			
				<span>个人设置</span>
				<a class="glyphicon glyphicon-edit pull-right"></a>

			</div>
			<div class="panel-body">
				<h5>头像修改</h5>
				<div class="row changeHead">
					<div>
						<img src="../images/yeoman.png" alt="">
					</div>
					<button class="btn btn-info">修改头像</button>
				</div>
				<h5>用户基本信息</h5>
				<div class="row">
					<form class="form-horizontal">
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" id="inputEmail3" value="2313" disabled>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">真实姓名</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" id="inputEmail3" value="2313" disabled>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">手机号码*</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" id="inputEmail3" value="2313" disabled>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
					    <div class="col-sm-6">
					      <input type="email" class="form-control" id="inputEmail3" value="2313" disabled>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">支付宝*</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" id="inputEmail3" value="2313" disabled>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">收货地址*</label>
					    <div class="col-sm-6">
					      <input type="text" class="form-control" id="inputEmail3" value="2313" disabled>
					    </div>
					  </div>
					 </form>
				</div>
				<h5>修改密码</h5>
				<div class="row">
					<form action="" class="form-horizontal">
						<div class="form-group">
							<label for="" class="col-md-2 col-sm-3 control-label">旧密码</label>
							<div class="col-md-6">
								<input type="password" class="form-control" placeholder="留空则不修改">
							</div>
							<button class="btn btn-danger col-md-1 col-sm-1">忘记密码</button>
						</div>
						<div class="form-group">
							<label for="" class="col-md-2 col-sm-3 control-label">新密码</label>
							<div class="col-md-6">
								<input type="password" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-md-2 col-sm-3 control-label">重复新密码</label>
							<div class="col-md-6">
								<input type="password" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-3">
								<button class="btn col-md-1 btn-success">提交</button>
							</div>
							<div class="col-md-offset-4">
								<button class="btn btn-warning col-md-1">重置</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>