<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">进货</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-bordered table-striped textCenter comfirm-block">
						  <thead>
						  	<tr>
						  		<th>是否加入进货购物车</th>
						  		<th>商品编号</th>
						  		<th>商品名称</th>
						  		<th>商品预览</th>
						  		<th>规格</th>
						  		<th>仓库库存</th>
						  		<th>价格</th>
						  		<th>进货数量</th>
						  		<th>单品小计</th>
						  	</tr>
						  	<tr>
						  		<td>
						  			<label for="">
						  				<input type="checkbox">
						  				<span>添加</span>
						  			</label>
						  		</td>
						  		<td>
									141618
						  		</td>
						  		<td>
						  			统一 老坛酸菜牛肉面
						  		</td>
						  		<td class="product-item-pic">
				    				<img src="../../images/yeoman.png" alt="">
				    			</td>
						  		<td>
						  			120g/袋	
						  		</td>
						  		<td>
						  			0
						  		</td>
						  		<td>
						  			2.20元
						  		</td>
						  		<td>
						  			<input type="number" min=0>袋
						  		</td>
						  		<td>
						  			0.00
						  		</td>
						  	</tr>
						  </thead>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 col-sm-offset-10">
						<button class="btn btn-warning">重置</button>
						<button class="btn btn-success">确认进货</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>